@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Soft Bug</h1>
    <p class="lead">Soft Bug allows you to keep track of your team and projects.</p>
    <p><a href="https://localhost:44305/Home/ViewProjects" class="btn btn-primary btn-lg">Projects &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View your Employees on the Projects</h2>
        <p>
            Knowing who is on the job is crucial. Here you can tell who has what task. Add more to the team by creating another Employee
        </p>
        <p><a class="btn btn-default" href="https://localhost:44305/Home/ViewEmployees">Employees &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View your Tickets for your Project</h2>
        <p>Keeping track of your Tickets is Vital to Project Success. View your tickets to accomplish sprints and achieve your MVP.</p>
        <p><a class="btn btn-default" href="https://localhost:44305/Home/ViewTickets">Tickets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keep Track of any bugs in your software</h2>
        <p>Document your bugs... Fix the bugs.. Know who is handling the bug.</p>
        <p><a class="btn btn-default" href="https://localhost:44305/Home/ViewTickets">Bugs &raquo;</a></p>
    </div>
</div>